*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild
.cxx
*.log
hs_err_pid*.log
replay_pid*.log

# Android Studio / IntelliJ
.idea/
*.iml
*.iws

# Gradle
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties
