<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:name=".WorkingReportApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkingReport">

        <activity
            android:name=".ApprovalIzinActivity"
            android:exported="false" />
        <activity
            android:name=".ApprovalLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".OfficeLocationActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeListActivity"
            android:exported="false" />
        <activity
            android:name=".StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".HcAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeAttendanceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".AttendanceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".LemburActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".RiwayatActivity"
            android:exported="false" />
        <activity
            android:name=".LaporanKerjaActivity"
            android:exported="false" />
        <activity
            android:name=".CameraAbsenActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardHCActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>